*{
    margin: 0;
    padding: 0;
}
.curtain {
  margin: 0 auto;
  width: 100%;
  /*Ensures the component is the full screen width.*/
  height: 200vh;
  /*Vh=relative to 1% of the height of the viewport */
  overflow: hidden;
  /* The hidden helpto clip the content if necessary to fit the padding box. In this case it will slide the panels outside the container without showing them*/
  /*The wrqpper will help us indicate how big the css will be*/
}
.curtain__wrapper {
  /*We use in this case the "&" Sass ampersand because we are nasting, thats mean the real class is curtain__wraper*/
  width: 100%;
  height: 100%;
}
.curtain__wrapper input[type=checkbox] {
  position: absolute;
 
  /*it will allow us to click and receive a respond from the courtain*/
  width: 100%;
  /*The checkbox need to be the same sizes that that the compontent, in that way the user can click everywhere and the checkbox is activate it */
  height: 100%;
  z-index: 100;
  /*Z-index property specifies the stade order of a element. In this one the author give it a value of 100 in that way any of the next layer can replace it easier and not change it often*/
  opacity: 0;
  /*This will create that the the ckeckbox looke like it hiden. If we don't do this it will be a blue checout in the middle of the design*/
  top: 0;
  left: 0;
}
.curtain__wrapper input[type=checkbox]:checked {
  /*When the checkbox is check this going to slide to the left*/
}
.curtain__wrapper input[type=checkbox]:checked ~ div.curtain__panel--left {
  transform: translateX(0);
  /* The tranlateX(x)work to reposition an element horizontally on the 2D plane*/
  /*When the checkbox is check this going to slide to the right*/
}
.curtain__wrapper input[type=checkbox]:checked ~ div.curtain__panel--right {
  transform: translateX(0);
}
.curtain__panel {
  display: flex;
  align-items: center;
  background: lightgreen;
  color: #fff;
  float: left;
  
  
  /* Place the cortain in a way that can be see in codepen inmediatly and make it that the cortain go side by side*/
  position: relative;
  width: 100%;
  /* If I select 50% Indicate half of the courtain like the autor had it. In my case I just one to do it in one side at this time */
  height: 100vh;
  transition: all 1s ease-out;
  /*This creat that in 1s the courtain move to the side. The ease-out specify a transaction effect with a slow end.*/
  z-index: 2;
  /* This will create that the panel get position behind the price. */
  /*The tranlateX(x)work to reposition an element horizontally on the 2D plane. In this case the panel is going to the left because (-) the negative sign */
}

.curtain__panel--left {
  justify-content: center;
  transform: translateX(-100%);
  /*In this case the panel is going to the rigth because (+) the positive sign */
}
.curtain__panel--right {
  justify-content: flex-start;
  transform: translateX(100%);
}

.patro{
 background-image: url(texture.jpg);
 
   position: absolute;
   text-align: center;
  z-index: 1; 
  width: 100%;
  font-family: 'CharuChandan3D', sans-serif;
  color: #FEE902;
}
.overlay{
  background: rgba(0,0,255,.7);
}
.text--line {
  font-size: 20em;
  font-family: 'Hind Siliguri' sans-serif;
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #2E0927;
  animation-delay: -1s;
}
.text-copy:nth-child(2) {
  stroke: #D90000;
  animation-delay: -2s;
}
.text-copy:nth-child(3) {
  stroke: #FF2D00;
  animation-delay: -3s;
}
.text-copy:nth-child(4) {
  stroke: #FF8C00;
  animation-delay: -4s;
}
.text-copy:nth-child(5) {
  stroke: white;
  animation-delay: -5s;
}
@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

button{
  width: 120px;
  height: 30px;
  border: none;
  background: orange;
  color: white;
  font-size: 18px;
}
button:hover{
  width: 150px;
  height: 30px;
  border: none;
  background-color: white;
  color: orange;
  font-size: 18px;
}
.vid{
  max-width: 960px;
  padding-top: 1%;
}
video{
  width: 100%
}
#fontcss{
  font-family: 'BenSen', sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.bih{
  font-family: 'BenSen', sans-serif;
  font-size: 20px;
  text-align: justify;
  text-indent: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.nibe{
  font-family: 'BenSen', sans-serif;
  font-size: 20px;
  text-align: right;
   margin-right: 10px;
  margin-bottom: 20px;
}
.quin{
 max-width: 399px; 
 padding-top: 1%; 
}
img{
  width: 100%;
  
}
.container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
border: 3px solid white;
border-radius: 50px;
color: white;
font-family: 'BenSen', sans-serif;
margin: 0 9px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -20px;
left: 0;
width: 100%;
height: 25px;
background: white;
border-radius: 50px;
color: black;
font-weight: bold;
font-size: 0.7em;
line-height: 26px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
.subh{
  font-family: 'BenSen', sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
   }
   .wrapper{
display: flex;
justify-content: center;
align-items: center;
height: 70vh;

}
.card{
position: relative;
background: #fff;
width: 300px;
height: 400px;
margin: 0 auto;
}

.card .content{
width: 300px;
padding: 30px;
box-sizing: border-box;
font-weight: bold;
}


.card .sliderText{
position: relative;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
background: #000;
}
.card .sliderText h3{
color: #fff;
font-size: 2em;
}
.swiper-container {
      width: 300px;
      height: 400px;
          }
.swiper-slide{
background-position: center;
      background-size: cover;
width: 300px;
}

.swiper-slide:nth-child(1) .sliderText{
background: #2196f3
}
.swiper-slide:nth-child(1) .content{
color: #2196f3;font-size: 20px;
font-family: 'BenSen', sans-serif;
}
.swiper-slide:nth-child(2) .sliderText{
background: #e91e63
}
.swiper-slide:nth-child(2) .content{
color: #e91e63;font-size: 20px;
font-family: 'BenSen', sans-serif;
}
   footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
      font-family: 'BenSen', sans-serif;
  font-size: 20px;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  
   footer a{
          text-decoration: none;
          font-size: 15px;     
                    
        }